// --------------------------------------------------
// GNB
// --------------------------------------------------

.gnb {
    $dur: 0.3s;
    $ease: ease;

    display: inline-block;
    font-size: 1.6rem;

    &-menu {
        text-align: center;

        li {
            display: inline-block;
        }
        a {
            display: block;
            padding: 0 3rem;
        }
    }
    &-sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
        background-color: red;
    }
    .d1 {
        position: relative;
        padding: 3.2rem 0;

        &.is-active {
            .gnb-d1 {
                &:before {
                    width: 100%;

                    .is-compact & {
                        background-color: $white;
                    }
                }
            }
            .gnb-sub-menu {
                visibility: visible;
            }
        }
        &.is-current {
            .gnb-d1 {
                &:before {
                    width: 100%;
                }
            }
        }
    }
    .d2 {
        color: $dark;
    }
    .gnb-d1 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 2rem;

        &:before {
            content: '';
            @include transition(width $dur $ease);
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1px;
            width: 0%;
            height: 4px;
            margin: auto;
            background-color: #949494;
        }
        &:hover {
            text-decoration: none;
        }
    }
    @include mq($until: large) {
        display: none;
    }
}