// --------------------------------------------------
// variables
// --------------------------------------------------

// breakpoints
$mq-base-font-size: 16px;
$mq-breakpoints: (
    x-small:  400px,
    small:  560px,
    medium:  720px,
    large:  960px,
    x-large: 1280px,
    xx-large: 1600px
);

// layout
$w-small: 360px;
$w-medium: 720px;
$w-col-10: 970px;
$w-default: 1280px;

$w-small-wrap: 320px;
$w-wrap: $w-default;

$p-small: 20px;
$p-default: 90px;

$m-small: percentage($p-small/$w-small);
$m-default: percentage($p-default/$w-default);

$gutter-small: 16px;
$gutter-medium: 18px;
$gutter-large: 20px;

$grid-columns: 12;

$header-height: 51px; // 모바일 header 높이
$header-height-large: 114px; // 데스크탑 header 높이
$header-height-compact: 50px; // 데스크탑 header 최소화 시 높이

$z-1: 100;
$z-2: 200;
$z-3: 300;

// fonts
// $font-list: (
//     'CJ_ONLYONE_NEW_title_Bold': ('CJ OnlyOne Bold', 700, true),
//     'CJ_ONLYONE_NEW_body_Regular': ('CJ OnlyOne', 400, true)
// );

$font-default: 'Spoqa Han Sans', 'Sans-serif';
$sans: $font-default;
$serif: serif;
$en: $font-default;

$font-icon: 'icon';
$icons: ();

// color guide
$white: #fff;
$fog: #f4f4f4;
$warm-gray: #f7f6f4;

$silver-light: #e5e5e5;
$silver: #ccc;
$silver-dark: #999;

$gray-light: #767676;
$gray: #666;
$gray-dark: #444;

$dark: #333;
$ink: #222;
$black: #000;

$error: #e53935;

// 브랜드 컬러
$brand: #002d96;
$brand-light: #0059b4;
$brand-green: #338466;
$brand-sliver: #b4b4b4;
$brand-gold: #dfc486;
$brand-desc: #3a4f9a;

$cool-gray: #a5a5a8;
$light-green: #809e88;
$light-cyan: #8cbcb8;
$dark-blue: #8ca7bf;

// 제품 라인별 컬러
$live-left: #26b989;        // 라이브리프트
$derma: #809e88;            // 더마이도
$pore-reset: #80aa96;       // 포어리셋
$pro-peeling: #a5a5a8;      // 프로필링
$derma-trouble: #58b6b8;    // 더마트러블
$derma-repair: #7cb0cd;     // 더마리페어
$sun-protector: #fe7f16;    // 선프로텍터
$sun-sensitive: #719398;    // 선센서티브
$sun-base: #ed8596;         // 선베이스류
$sun-fluid: #00a6da;        // 선플루이드
$sun-stick: #4a496e;        // 선스틱류

// ratio
$item-thumb: 1.2;
