// -----------------------------------------------------------------------------
// Elements > drawdrop
// -----------------------------------------------------------------------------

.drawdrop {
	$dur: 0.6s;
	$ease: cubic-bezier(.35,0,0,1);

	&-item {
		position: relative;
		z-index: 1;
		height: 0;
		padding-bottom: percentage(620/413);

		&:after {
			content: '';
			@include full-pos();
			opacity: 0;
			mix-blend-mode: multiply;
			@include transition(opacity 0.6s);
		}

		&.on:hover,
		&.on:focus {
			.thumb {
				&-frame {
					filter: grayscale(0.75);
					-webkit-filter: grayscale(0.75);
				}
				img {
					@include transform(scale(1.15) rotate(-5deg));
				}
			}
			&:after {
				opacity: 0.75;
			}
		}
	}

	.thumb {
		overflow: hidden;
		@include full-pos;

		&-frame {
			overflow: hidden;
			@include full-pos;
		}

		img {
			@include transition(all $dur $ease);
		}
	}
}
