.slick {
    &-dots {
        $color-active: $gray;
        $color: $silver-dark;
        $dot-size: 10px;
        $padding: 6px;

        text-align: center;

        > li {
            display: inline-block;
            margin: -$padding 0;

            > button {
                overflow: hidden;
                position: relative;
                width: ($dot-size + 2) + ($padding * 2);
                height: ($dot-size + 2) + ($padding * 2);
                text-indent: -10em;

                // 자연스러운 transition을 위해서 일반 상태와
                // 활성화된 상태의 모양을 각각 만들어 opacity 속성으로 토글
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include radius(100%);
                }
                &:before { // normal
                    width: $dot-size;
                    height: $dot-size;
                    margin-left: -($dot-size / 2);
                    margin-top: -($dot-size / 2);
                    background: rgba($color, .7);
                    @include transition(opacity .5s);
                }
                &:after { // active
                    margin-left: -(($dot-size + 2px) / 2);
                    margin-top: -(($dot-size + 2px) / 2);
                    width: ($dot-size - 2px);
                    height: ($dot-size - 2px);
                    border: 2px solid $color-active;
                    // background-color: $white;
                    opacity: 0;
                    @include transition(opacity .5s);
                }
            }
            &.slick-active {
                > button {
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-initialized {
        .slick-slide {
            display: block !important;
        }
    }
    &-arrow {
        overflow: hidden;
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 23px;
        height: 53px;
        margin-top: -50px;
        padding: 5px;

        font-size: 53px;
        line-height: 1;
        text-indent: 30px;
        opacity: .5;

        &:before {
            position: absolute;
            top: 5px;
            left: 5px;
            text-indent: 0;
        }

        &.slick-prev {
            left: 5px;
            // @include icon(slider-prev);
        }
        &.slick-next {
            right: 5px;
            // @include icon(slider-next);
        }
    }
}

// autoplay control
.slick-slider + .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    z-index: 2;
    text-align: center;

    &.autoplay--on {
        .control--play {
            display: none;
        }
    }
    &.autoplay--off {
        .control--pause {
            display: none;
        }
    }

    .dots {
        display: inline-block;
    }

    .control {
        width: 30px;
        height: 30px;
        margin-left: -3px;
        color: $silver-dark;
        opacity: .7;
        vertical-align: middle;

        &:hover,
        &:focus {
            opacity: 1;
        }
        &--play {
            // @include icon('indicator-play') {
            //     font-size: 12px;
            //     line-height: 1;
            //     vertical-align: top;
            // }
        }
        &--pause {
            // @include icon('indicator-pause') {
            //     font-size: 12px;
            //     line-height: 1;
            //     vertical-align: top;
            // }
        }
    }

    @include mq(large) {
        bottom: 7px;
    }
}