// --------------------------------------------------
// footer
// --------------------------------------------------

.footer {
    text-align: center;

    img {
        display: inline-block;
    }
    .is-desktop {
        display: none;
    }
    @include mq(large) {
        border-top: 1px solid #e0e0e0;

        .is-mobile {
            display: none;
        }
        .is-desktop {
            display: inline-block;
        }
    }
}