// --------------------------------------------------
// header
// --------------------------------------------------

.header {
    $gnb-h: 70px;
    $dur: 0.3s;
    $ease: ease;

    @include transition(all $dur $ease);
    position: fixed;
    z-index: $z-1;
    right: 0;
    left: 0;
    top: 0;
    height: $gnb-h;
    text-align: center;

    &.is-compact {
        background-color: $white;
        box-shadow: 0px 2px 13px 2px rgba($black, 0.1);

        .logo-white {
            display: none;
        }
        .logo-black {
            display: block;
        }
        .open-sidenav {
            &:before,
            &:after {
                border-bottom: 2px solid $gray-dark;
            }
        }
    }
    &.is-scrollup {
        @include transform(translateY(-100%));
    }
    &-wrap {
        height: 100%;
        padding: 0 percentage(36/720);
    }
    .logo {
        position: absolute;
        left: 18px;
        top: 12px;
        min-width: 137px;
        width: percentage(200/720);

        &-black {
            display: none;
        }
    }
    .open-sidenav {
        position: absolute;
        right: 0;
        top: 0;
        height: $gnb-h;
        padding: 0 $p-small+7px;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            border-bottom: 2px solid $white;
        }
        &:before {
            top: 30px;
            right: 18px;

        }
        &:after {
            top: 40px;
            right: 18px;
        }
    }
    @include mq(large) {
        & {
            height: 93px;
            background-color: $white;

            .logo {
                top: 23px;
                left: 0;
                max-width: 155px;

                &-white {
                    display: none;
                }
                &-black {
                    display: block;
                }
            }
            .utility {
                @include transform(translateY(-50%));
                position: absolute;
                right: 0;
                top: 50%;
                cursor: pointer;

                li {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 1.4rem;

                    & + li {
                        margin-left: 1.5rem;
                    }
                }
            }
        }
        .open-sidenav {
            display: none;
        }
    }
    @include mq($until: large) {
        .l-wrap {
            margin: 0;
        }
        .utility {
            display: none;
        }
    }
}

